/*
 * Lay this page out - make it responsive, use grid, flex, position and media queries where needed.
 *
 * Colors-
 * Green: #14a96d
 * White: #fff
 * Light gray: #f4f5f6
 * Border gray: #cfd7de
 * Dark text: #1b1f23
 * Lighter text: #66727c
 * Blue for links: #06748a
 * Blue for hovered links: #033641
 */

/* Globals */
body {
  font-family: 'Cabin', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

p {
  line-height: 1.5;
}

.rover-hp-container {
  max-width: 1000px;
  margin: 0 auto;
}

/* header style */
.rover-header-container {
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.rover-header-left,
.rover-header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rover-header-image {
  height: 40px;
  margin-left: 10px;
  vertical-align: middle;
}

.rover-header-link {
  display: none;
}

.rover-header-right-mobile img {
  border: 1px solid #cfd7de;
  border-radius: 4px;
  padding: 10px;
  margin: 7px 10px 0 0;
}

/* Rover Hero */
.rover-hero-container {
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rover-hero-container p {
  color: #66727c;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.4;
  margin: 0 15px 25px 15px;
}

.rover-button {
  background-color: #14a96d;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: 1s ease-in-out;
  margin: 20px 15px;
}

.rover-cta-mobile {
  padding: 15px;
}

.rover-hero-container .rover-cta {
  width: 250px;
}

.rover-cta {
  padding: 8px 15px;
}

.rover-button:hover {
  background-color: #9bf3d0;
  color: black;
  cursor: pointer;
}

.rover-hero-title,
.rover-cta {
  display: none;
}


/* -Rover Facts */
.rover-middle-section>h2 {
  text-align: center;
  margin: 25px;
}

.rover-mobile-hero-container {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr 1fr;
  padding: 15px;
}

.rover-two-boxes-container {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr;
}

.rover-cta-box {
  padding: 15px;
}

.rover-cta-container {
  border: 1px solid #cfd7de;
}

.rover-mobile-hero {
  max-width: 100%;
  max-height: 300px;
}

.rover-fact-indiv {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.rover-fact-indiv img {
  width: 70px;
  margin-right: 20px;
}

.rover-fact-indiv-text h3 {
  margin: 10px 0;
}

.rover-cta-header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #f4f5f6;
  border-bottom: 1px solid #cfd7de;
}

.rover-cta-header>img {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}

.rover-cta-bottom-container {
  padding: 20px;
}

.rover-facts {
  margin-top: 20px;
  margin-left: 40px;
}

.rover-facts>li {
  padding: 5px;
}

.rover-protections {
  text-align: center;
  margin: 10px;
}

/* Rover action */
.rover-action-shot {
  height: 525px;
  margin: 0 15px;
  background-image: url(../img/lady-with-her-dogs.jpg);
  background-size: cover;
  position: relative;
  background-position: center;
}

.rover-action-quote-container {
  background: #fff;
  border: 1px solid #cfd7de;
  border-radius: 4px;
  padding: 20px;
}

.rover-action-dash {
  border: 1px solid #14a96d;
  content: "";
  width: 40px;
  margin-bottom: 20px;
}

.rover-quote {
  line-height: 36px;
}

/* Rover 1-2-3 */
.rover-123-container {
  padding: 15px;
}

.rover-123-container h2 {
  text-align: center;
  margin: 10px 0 20px;
}

.rover-123-item-container {
  display: grid;
  grid-template-columns: 1fr;
}

.rover-123-item {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.rover-123-item img {
  width: 60px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.rover-123-item-text h3 {
  margin: 10px 0;
}

@media (min-width: 768px) {

  /* header */
  .rover-header-link {
    display: block;
    padding: 0 10px;
    text-decoration: none;
    color: #66727c;
    text-decoration: none;
  }

  .rover-header-link:hover {
    color: #14a96d;
  }

  .rover-header-right-mobile {
    display: none;
  }

  /* Hero */
  .rover-hero-container {
    background-image: url('../img/hero.jpg');
    background-size: cover;
    height: 500px;
  }

  .rover-hero-title,
  .rover-cta {
    display: block;
  }

  .rover-cta-mobile {
    display: none;
  }

  .rover-hero-title {
    font-size: 45px;
    margin: 0 0 25px 15px;
  }

  .rover-hero-container p {
    max-width: 420px;
  }

  /* -Rover Facts */
  .rover-mobile-hero-container {
    display: none;
  }

  .rover-cta-box {
    display: block;
  }

  .rover-two-boxes-container {
    grid-template-columns: 1fr 1fr;
  }

  .rover-action-shot {
    margin: 60px 30px;
  }

  .rover-action-quote-container {
    max-width: 35%;
    position: absolute;
    left: 50px;
    top: -50px;
  }

  /*Rover 1-2-3  */
  .rover-123-item-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  .rover-123-item {
    flex-direction: column;
  }

}